//>  ████████████████████████████████████  ROOT

@font-face {
    font-family: "fs-eb";
    src: url("../fonts/FiraSans-ExtraBold.ttf");
}

@font-face {
    font-family: "fs-b";
    src: url("../fonts/FiraSans-Bold.ttf");
}

@font-face {
    font-family: "ese-r";
    src: url("../fonts/EncodeSans_Expanded-Regular.ttf");
}

:root {
    --text-color: #fff;
    --bg-color: #1b1f24;
    --bg-color2: #22282;
    --main-color: #13bbff;
    --main-color2: #c3cad5;
    --theGray: #888888;
    --theRed: #da2128;

    --Black0: #121212;
    --Black1: #282828;
    --Black2: #3f3f3f;
    --Black3: #575757;
    --Black4: #717171;
    --Black5: #909090;

    --Red0: #03071E;
    --Red1: #370617;
    --Red2: #6A040F;
    --Red3: #9D0208;
    --Red4: #D00000;
    --Red5: #DC2F02;


    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;

    --border: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;

    list-style: none;

    font-family: "Light";
    text-decoration: none;
}

//>  ████████████████████████████████████  BODY

body {

    color: var(--text-color);
    background: var(--bg-color);

}

//>  ████████████████████████████████████  H

h3 {}

p {}

//>  ████████████████████████████████████  A

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

//>  ████████████████████████████████████  FONT AWESOME   

.fa-paintbrush {

    color: red;

}

//>  ████████████████████████████████████  HEADER   

header {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    // gap: clamp(10px, vw, 200px);;
    // padding-left: 40px;
    // padding-right: 40px;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: 0 auto;
    // padding: 4% 8%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    outline: 1px solid var(--border);

    background: linear-gradient(-45deg, #DC2F02, #D00000, #9D0208, #6A040F, #370617, #03071E);
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header__logo {
    grid-area: 1 / 1 / 3 / 2;
    outline: 3px solid var(--border);
    width: 100%;
    max-width: 320px;
    outline: 1px solid var(--border);
    padding-top: 3vw;
    ;
    padding-bottom: 3vw;
    ;

}

.header__nav {
    grid-area: 1 / 2 / 2 / 3;
    align-items: center;
    justify-content: center;
    display: flex;
    outline: 1px solid var(--border);

}

.header__nav a {
    font-size: clamp(16px, 2.5vw, 24px);
    ;
    font-family: "ese-r";
    color: var(--Black5);
    margin-left: clamp(10px, 1.5vw, 20px);
    ;
    margin-right: clamp(10px, 1.5vw, 20px);
    ;
    transition: all .50s ease;
    outline: 1px solid var(--border);
    text-transform: uppercase;


}

[] .header__nav a:hover {

    color: white;

}

//>  ████████████████████████████████████  NAV



#menu-icon {

    cursor: pointer;
    display: none;

}

.top-button {

    display: flex;
    justify-content: center;

}

.h-button {

    display: inline-flex;
    justify-content: center;
    padding: 2px 13px;
    background: transparent;
    color: white;
    border: 2px solid white;
    align-self: center;
    border-radius: 8px;
    font-size: 1.75vw;
    transition: all .50s ease;

}

.h-button a {}



.heading__sub {

    padding-top: 0;
    margin-top: -4vw;

}

.header__title {

    padding-top: 2vw;
    position: relative;

    color: var(--Red3);
    text-shadow: 0.5vw 0.5vw .5vw rgba(0, 0, 0, 0.25), -0.1vw -0.1vw 0.1vw rgba(253, 185, 46, .5);
    z-index: 25;

}



.header__container {

    position: relative;


}

.header__randall {
    position: absolute;
    letter-spacing: 1vw;
    bottom: 82px;
    left: 45vw;
    font-family: "Light";
    z-index: 100;


}


//>  ████████████████████████████████████  DIALOG MODAL




//>  ████████████████████████████████████  SECTION


//>  ████████████████████████████████████  PORTFOLIO MEDIUM



//>  ████████████████████████████████████  SERVICES MEDIUM

.projects {

    background: var(--bg-color2);
    // max-width: 960px;
    width: calc(100% - 80px);
    margin: 0 auto;
    margin-top: clamp(10px, 5vw, 30px);
    margin-top: 2vw;

}

.projects__content {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    // grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 1.4vw;
    

}

.projects__row img {

    max-width: 100%;
    aspect-ratio: 16 / 16;
    object-fit: cover;
    border-radius: 0px;
}

.projects__row--web img {

    max-width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
    border-radius: 0px;
}

.projects__row-icon {
    display: flex;
    align-items: center;
}

.projects__row video {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 6px;
}

.projects__row-text--1 {
    display: flex;
    width: 4vw;
}

.projects__title {
    color: white;
    font-size: clamp(16px, 2.5vw, 24px);
    font-family: "Bold";
    display: inline-block;
}

.projects__bold {
    color: red;
    font-family: "Bold";
}


//>  ████████████████████████████████████  SERVICES MEDIUM

.services {
    // padding-left: 40px;
    // padding-right: 40px;
    // width: calc(100% - 80px);
    margin: 0 auto;
    padding-top: clamp(10px, 4vw, 30px);

}

#services {}

.services__content {
    display: grid;
    // grid-template-columns: (auto-fit, minmax(300px, auto));
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin-top: .8rem;
    align-items: stretch;
}

.services__center-text {
    text-align: center;
    margin-top: 2vw;
}

.services__center-text h2 {}

.services__box {
    // outline: 1px solid var(--border);
    padding: 20px 20px 0px;
    padding-left: clamp(10px, 2vw, 20px);
    padding-right: clamp(10px, 2vw, 20px);
    padding-top: clamp(10px, 2vw, 20px);
    background: #2d343f;
    border-radius: 6px;
    border: 1px solid transparent;
    // // box-shadow: 0 0 5px var(--main-color);
    transition: all .50s ease;
    cursor: pointer;

}

.services__box img {
    width: clamp(10px, 6vw, 48px);
    margin-bottom: -6px;
    // margin-bottom: 20px;
}

.services__box h3 {
    font-family: 'Bold';
    font-size: clamp(10px, 3vw, 32px);
    margin-bottom: .5vw;
    display: inline-block;

}

.services__box p {
    font-family: 'Light';
    font-size: clamp(10px, 1.5vw, 16px);
}

.services__box a {
    display: inline-block;
    font-size: clamp(10px, 2.5vw, 26px);
    padding: 7px 0;
    font-family: "Bold";
    color: red;
    line-height: 1.273em;
    transition: all .50s ease;

    // color: var(--text-color);
}

.services__box a:hover {

    color: white;

}

.services__content {}

//_  ████████████████████████████████████  SERVICES WIDE

@media (width >=868px) {

    .services__content {
        // grid-template-columns: (auto-fit, minmax(300px, auto));
        grid-template-columns: repeat(4, 1fr);
    }

}